/*Este é um comentário em CSS*/
/*
    Este é um comentário 
    em BLOCO em CSS
*/
      
h1{
    background-color:#00a2ff !important;
    color: #000000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: #000000;
    background-color: rgb(185, 240, 248);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
p{
    color: #318021;
}
/* Class */
.link {
    color: #318021;
}
.pobre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.forma{
    border: 1px solid rgb(107, 107, 107);
    padding: 10px;
}
.button{
    background-color: #fcf4ab;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.rodape{
    border-top: 2px solid #ff0000;
}

/*--------------------------------------------------------------------------------*/

ul .link {
    color: #e8240e;
    /* border: 2px solid #e8240e; */
    display: inline;
    margin: 0 3%;

    /* Nesting links */
    a{
        text-decoration: none;
        color: #e8240e;
    }

}

#menu ul{
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}

/* ID */
#container {
    width: 80%;
    height: 100%;
    border: 2px solid #000;
    margin: 0 auto;
    padding: 20px;
}
/*---------------------------------------*/
#cabecalho{
    background-color: #00a2ff;
}
#conteudo{
    line-height: 1.5;
}